.dialogItem.active {
	color: red;
}
.dialog {
	display: block;
	font-size: 20px;
	text-decoration: none;
	padding: 15px 0;
	/* margin: 10px 0; */
	border-bottom: 1px solid grey;
	/* border-top: 1px solid grey; */
}

.dialogItem {}