.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	display: grid; 
	grid-template-areas: header sidebar main footer;
	grid-template-rows: 50px 2fr 50px;
	grid-template-columns: 2fr 10fr;
	gap: 10px;

}


.main {
	grid-area: "main";
	grid-column: 2/3;
	grid-template-rows: 1fr;
	height: 537px;
}






